

nav {
  @include respond-to(max-width, $break-point-sm) {
    background: rgba(0, 0, 0, 0.1);
  }  
  margin-top: 0.5em;
  position: fixed;
  right: 5%; 
  // height: $nav-height-icon;
  width: $nav-width-line * 1.4;
  font-size: 0;
}

#hamburger-icon {
  width:$nav-width-line;
  height:$nav-height-icon;
  position:relative;
  display:block;
  margin: $nav-width-line / 4 auto $nav-width-line / 2.5 auto;
  
  .line {
    display:block;
    background: rgba(0, 0, 0, 0.7);
    width:$nav-width-line;
    height:$nav-height-line;
    position:absolute;
    left:0;
    border-radius:($nav-height-line / 2);
    transition: all $nav-transition-time;
    
    &.line-1 {
      top:0;
    }
    &.line-2 {
      top:50%;
    }
    &.line-3 {
      top:100%;
    }
  }
  &:hover, &:focus {
     .line-1 {
        transform: translateY($nav-height-line / 2 * -1);
        -webkit-transform: translateY($nav-height-line / 2 * -1);
        -moz-transform: translateY($nav-height-line / 2 * -1);
     }
    .line-3 {
        transform: translateY($nav-height-line / 2);
        -webkit-transform: translateY($nav-height-line / 2);
        -moz-transform: translateY($nav-height-line / 2);
    }  
  }
  &.active {
    .line-1 {
      transform: translateY($nav-translateY) translateX($nav-translateX) rotate($nav-rotation);
      -webkit-transform: translateY($nav-translateY) translateX($nav-translateX) rotate($nav-rotation);
      -moz-transform: translateY($nav-translateY) translateX($nav-translateX) rotate($nav-rotation);
    }
    .line-2 {
      opacity:0;
    }
    .line-3 {
      transform: translateY($nav-translateY * -1) translateX($nav-translateX) rotate($nav-rotation * -1);
      -webkit-transform: translateY($nav-translateY * -1) translateX($nav-translateX) rotate($nav-rotation * -1);
      -moz-transform: translateY($nav-translateY * -1) translateX($nav-translateX) rotate($nav-rotation * -1);
    }
  }
}