* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;	
}

html,
body {
	height: 100%;
}

body {	
	margin: 0;
  font-family: $sans-font-family;
  // color: #333;
  line-height: 1.5em;
  background: $grey;
}

body,
h1,
h3,
p {
	@include respond-to(max-width, $break-point-sm) {
		font-size: .89em;
	}
		@include respond-to(min-width, $break-point-xl) {
		font-size: 1.2em;
		line-height: 1.5em;
	}
}

a {
	color: $teal;
}

ul {
	list-style: none;
	padding-left: 0;
	li {
		padding-left: 0;
		a {
		}
	}
}

hr {
	margin-bottom: 5%;
	border: 1px lighten($grey, 3%) solid;
}

.pure-g {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 3%;
	> div {
		@include respond-to(max-width, $break-point-sm) {
			padding: 0;
		}
		padding: 0 2%;
			&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
}

h1 {
	color: #fff;
	font-size: 4em;
	margin: 0;
	line-height: 1em;
	font-family: $sans-font-family;
	letter-spacing: -.05em;
	span {
		margin-top: 1em;
		display: block;
		font-size: .36em;
		color: darken(#fff, 25%);
		line-height: 1.5em;
		letter-spacing: -.03em;
	}
}

h3 {
	color: lighten($grey, 50%);
	font-family: $sans-font-family;
	margin-bottom: .5em;
}

canvas {
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

// SECTIONS
// ---------------------------------


.container {
	max-width: 90%;
	margin: 0 auto;
	padding: 5% 0;
}

.group-top {
	h3 {
		color: #fff;
	}
	p {
		color: lighten($grey, 30%);
		&.subheader {
			color: #fff;
		}
		strong {
			display: block;
			margin-bottom: 1.5%;
		}
	}
}

.group-bottom {
	background: #fff;
	h3 {
		color: $grey;
	}
	p {
		color: lighten($grey, 30%);
		&.subheader {
			color: $grey;
		}
		strong {
			display: block;
			margin-bottom: 1.5%;
		}
	}
}

.about {
	margin: 0 0 9%;
}



