$sans-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif-font-family: 'Merriweather', serif;

$grey: #2d2d2d;
$teal: #86d1a4;

$blue-tw: #86b7d1;
$blue-ln: #86cbd1;
$blue-tr: #8a8a8a;
$grey-cp: #6d91aa;

$soc-colors: $blue-tw, $blue-ln, $blue-tr, $grey-cp;

$secondary-color: $grey;
$link-color: $teal;

$break-point-sm: 35.5em;
$break-point-md: 48em;
$break-point-lg: 64em;
$break-point-xl: 95em;

$global-padding: 2em;

// navigation
$nav-background: #3d566e;

$nav-height-icon: 16px;
$nav-width-line: 30px;
$nav-height-line: 3px;

$nav-transition-time: .1s;
$nav-rotation: 45deg;
$nav-translateY: ($nav-height-icon / 2);
$nav-translateX: 0;