$sans-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif-font-family: 'Merriweather', serif;


$global-padding: 2em;

$grey: #191919;
$teal: #86d1a4;

$secondary-color: $grey;
$link-color: $teal;